@import "./../../global.scss";

.privacyFooterContainer {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-bottom);
  transition: background-color 1s ease-in-out;
  display: flex;
  justify-content: center;

  &.showCookieBanner {
    background-color: white;
  }

  .privacyFooterContent {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: var(--text-color-darkest);

    .cookieBannerContainer {
      width: 100%;
      height: 200px;
      display: flex;
      position: relative;
      flex-direction: column;

      .cookieBanner {
        width: 100%;
        height: 155px;
        color: var(--background-color-bottom);
        display: flex;
        justify-content: center;
        align-items: center;

        .cookieBannerText {
          width: 90%;
        }
      }

      .cookieButtonsContainer {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;

        .cookieButton {
          width: 35%;
          height: 40px;
          cursor: pointer;
          border-radius: 7px;
          margin-bottom: 5px;
          opacity: 0;
          transition: opacity 1s ease-in-out, box-shadow 1s ease-in-out;
          user-select: none;

          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--text-color);
          font-size: 1rem;
          font-weight: bold;
          overflow: hidden;

          &.declineButton {
            background-color: var(--search-bar-color-bottom);
          }

          &.acceptButton {
            background-color: var(--search-bar-color-top);
          }

          &.showCookieBanner {
            opacity: 1;
            box-shadow: 2px 2px 3px 1px #7b7b7b;
          }

          &:hover {
            color: var(--text-color-darker);
          }

          &:active {
            height: 38px;
            box-shadow: none;
          }
        }
      }
    }

    .linkToPrivacyStatementContainer {
      width: 100%;
      height: 20px;
      padding-bottom: 3px;
      position: relative;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-decoration: underline dotted;

      * {
        cursor: pointer;
      }
    }
  }
}