@import "../../global.scss";

.dataListItem {
  width: 100%;
  color: var(--text-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  touch-action: none;
  overflow: hidden;

  @include for-tablet {
    font-size: 1.4rem;
  }

  @include for-desktop {
    font-size: x-large;
  }

  span {
    text-align: end;
    overflow: hidden;
  }

  &.night {
    color: var(--text-color-darkest);
    touch-action: inherit;
  }

  &.twilight {
    color: var(--text-color-darker);
    touch-action: inherit;
  }

  &.active {
    font-weight: 500;
    color: var(--current-hour-color);
    touch-action: inherit;
  }
}