@import "../../global.scss";

.dataListItem {
  width: 100%;
  color: var(--text-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  touch-action: none;

  span {
    text-align: end;
  }

  &.night {
    color: var(--text-color-darkest);
    touch-action: inherit;
  }

  &.twilight {
    color: var(--text-color-darker);
    touch-action: inherit;
  }

  &.active {
    color: var(--highlight-color);
    touch-action: inherit;
  }
}