@import "../../global.scss";

.dataListItem {
  width: 100%;
  color: $textColor;
  background-color: $backgroundColor;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  touch-action: none;

  span {
    text-align: end;
  }

  &.night {
    color: #afafaf;
    touch-action: inherit;
  }

  &.twilight {
    color: #cfcfcf;
    touch-action: inherit;
  }

  &.active {
    color: $highlightColor;
    touch-action: inherit;
  }
}