@import "../../global.scss";

.hourOfDayListItem {
  width: 100%;
  color: var(--text-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  touch-action: none;
  overflow: hidden;
  will-change: opacity;

  animation: 500ms ease fade-in-hours both;
  animation-iteration-count: 1;

  @keyframes fade-in-hours {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @include for-tablet {
    font-size: 1.4rem;
    animation: 2500ms ease fade-in-hours both;
  }

  @include for-desktop {
    font-size: x-large;
    animation: 2500ms ease fade-in-hours both;
  }

  span {
    text-align: end;
    overflow: hidden;
  }

  &.night {
    color: var(--text-color-darkest);
    touch-action: inherit;
  }

  &.twilight {
    color: var(--text-color-darker);
    touch-action: inherit;
  }

  &.active {
    font-weight: 500;
    color: var(--current-hour-color);
    touch-action: inherit;
  }
}