@import "../../global.scss";

.weatherForecastForAWeek {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none;

  @include for-desktop {
    display: flex;
    justify-content: center;
  }

  .contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include for-desktop {
      width: 90%;
    }

    .dayContainer {
      flex: 1;
      width: 100%;
      height: 100%;
      border-bottom-color: var(--text-color);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      display: grid;
      grid-template-columns: 2fr 5fr 5fr;

      .dateContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .dateDay {
          color: var(--text-color);
          height: 50%;
          width: 100%;
          margin: 0;
          justify-content: center;
          display: flex;
          align-items: flex-end;

          h3 {
            @include for-tablet {
              font-size: 1.8rem;
            }

            @include for-desktop {
              font-size: 2.5rem;
            }
          }
        }

        .weekday {
          color: var(--text-color);
          height: 50%;
          width: 100%;
          margin: 0;
          justify-content: center;
          display: flex;
          align-items: flex-start;

          h3 {
            @include for-tablet {
              font-size: 1.8rem;
            }

            @include for-desktop {
              font-size: 2.5rem;
            }
          }
        }
      }

      .mainWeatherContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;

        .mainWeatherIconContainer {
          flex: 1;
          height: 70%;
          display: flex;
          justify-content: flex-end;
          padding-right: 10px;

          .weatherIcon {
            height: 100%;
          }
        }

        .temperatureContainer {
          flex: 1;
          width: 80%;
          height: 80%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          .temperatureDataContainer {
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            font-size: 1.1rem;

            @include for-tablet {
              font-size: 1.5rem;
            }

            @include for-desktop {
              font-size: 2rem;
            }

            * {
              width: 100%;
              margin: 0;
              overflow: hidden;
            }

            .maxTemperature {
              color: var(--text-color);
            }

            .minTemperature {
              color: var(--text-color-darker);
            }

            .unit {
              font-size: x-small;
              color: var(--text-color);

              @include for-tablet {
                font-size: small;
              }

              @include for-desktop {
                font-size: medium;
              }
            }
          }
        }
      }

      .weatherDetailsContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .detailsContainer {
          flex: 1;
          color: var(--text-color);
          height: 80%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          @include for-tablet {
            font-size: 1.5rem;
            justify-content: space-evenly;
          }

          @include for-desktop {
            font-size: 2rem;
            justify-content: space-evenly;
          }

          .icon {
            height: 40%;
            position: relative;
          }

          .data {
            width: 100%;
            margin: 0;
            overflow: hidden;
          }

          .unit {
            font-size: x-small;
            position: relative;
            top: -3px;
            overflow: hidden;

            @include for-tablet {
              font-size: small;
            }

            @include for-desktop {
              top: 0;
              font-size: medium;
            }
          }
        }
      }
    }

    .footer {
      width: 100%;
      padding: 10px 0;

      span {
        color: var(--text-color);
      }
    }
  }


}

