@import "../../global.scss";

.svgPlot {
  .shadowPath {
    fill: none;
  }

  .dataPath {
    stroke: white;

    &.temperature {
      stroke: orange;
    }

    &.wind {
      stroke: cornflowerblue;
    }

    &.probabilityOfPrecipitation {
      stroke: #5173e3;
    }

    &.rain {
      stroke: #5173e3;
    }
  }

  * {
    stroke: var(--text-color);
  }
}