@import "../../global.scss";

.svgPlot {
  .currentHourPath {
    fill: var(--current-hour-color);
  }

  .dataPath {
    &.temperature {
      stroke: orange;
    }

    &.wind {
      stroke: cornflowerblue;
    }

    &.probabilityOfPrecipitation {
      stroke: #0d72ec;
    }

    &.rain {
      stroke: #0a5dc1;
    }
  }

  * {
    stroke: var(--plot-color);
  }
}