@import "../../global.scss";

.svgPlot {
  .shadowPath {
    fill: none;
  }

  .currentHourPath {
    fill: var(--highlight-color);
  }

  .dataPath {
    stroke: white;

    &.temperature {
      stroke: orange;
    }

    &.wind {
      stroke: cornflowerblue;
    }

    &.probabilityOfPrecipitation {
      stroke: #0d72ec;
    }

    &.rain {
      stroke: #0a5dc1;
    }
  }

  * {
    stroke: var(--text-color);
  }
}