@import "../../global.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 5000s ease-in-out 0s;
}

.citySearchBar {
  background: linear-gradient(0deg, var(--search-bar-color-bottom), var(--search-bar-color-top));
  position: fixed;
  top: 10px;
  width: calc(100% - 40px);
  min-width: 200px;
  max-width: 1200px - 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #151515;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    width: 100%;
    height: 100%;

    .formComponents {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: large;

      input {
        width: 100%;
        height: 100%;
        background: none;
        color: var(--text-color);
        margin-left: 20px;
        border: none;
        outline: none;
      }

      ::placeholder {
        color: var(--text-color-darker);
        opacity: 1;
      }

      button {
        width: 40px;
        height: 100%;
        background: none;
        margin-right: 6px;
        border: none;
        cursor: pointer;

        .magnifyingGlassIcon {
          width: 100%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;

          g {
            stroke: var(--text-color);

            path {
              fill: var(--text-color);
            }
          }
        }

        @include for-desktop {
          :hover {
            g {
              stroke: var(--text-color-darker);

              path {
                fill: var(--text-color-darker);
              }
            }
          }
        }
      }
    }
  }

  .favouriteListIconContainer {
    height: 100%;
    width: 0;
    cursor: pointer;

    transition: all ease-in-out 1s;

    display: flex;
    align-items: center;
    justify-content: center;

    .favouriteListIcon {
      height: 60%;

      g {
        path {
          fill: var(--text-color);
          stroke: var(--text-color);
        }
      }

      @include for-desktop {
        &:hover {
          g {
            stroke: var(--text-color-darker);

            path {
              fill: var(--text-color-darker);
              stroke: var(--text-color-darker);
            }
          }
        }
      }
    }

    &.areCookiesAccepted {
      width: 59px;
      padding: 0 6px 0 6px;
      border-left: 2px solid #0000002b;
    }
  }
}