@import "../../global.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--alternative-color);
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--alternative-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.citySearchBar {
  position: fixed;
  top: 10px;
  margin-left: 20px;
  width: calc(100% - 40px);
  min-width: 200px;
  max-width: 1200px - 40px;
  height: $searchBarHeight;
  background-color: var(--alternative-color);
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #444444;
  z-index: 10;

  form {
    width: 100%;
    height: 100%;

    * {
      background-color: var(--alternative-color);
    }

    .formComponents {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: large;

      input {
        width: 100%;
        height: 100%;
        color: var(--text-color);
        margin-left: 20px;
        border: none;
        outline: none;
      }

      ::placeholder {
        color: var(--text-color-darker);
        opacity: 1;
      }

      button {
        width: 40px;
        height: 100%;
        margin-right: 10px;
        border: none;
        cursor: pointer;

        .magnifyingGlassIcon {
          width: 100%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;

          g {
            stroke: var(--text-color);

            path {
              fill: var(--text-color);
            }
          }
        }

        :hover {
          g {
            stroke: var(--text-color-darker);

            path {
              fill: var(--text-color-darker);
            }
          }
        }
      }
    }
  }
}