@import "../../global.scss";

.citySearchBar {
  position: fixed;
  top: 10px;
  margin-left: 20px;
  width: calc(100% - 40px);
  min-width: 200px;
  max-width: 1200px - 40px;
  height: $searchBarHeight;
  background-color: orange;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #444444;
  z-index: 10;

  form {
    width: 100%;
    height: 100%;

    .formComponents {
      width: 100%;
      height: 100%;
      background-color: $alternativeColor;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: large;

      input {
        width: 100%;
        height: 100%;
        margin-left: 20px;
        background-color: $alternativeColor;
        color: $textColor;
        border: none;
        outline: none;
      }

      ::placeholder {
        color: #bfbfbf;
        opacity: 1;
      }

      button {
        width: 40px;
        height: 100%;
        margin-right: 10px;
        background-color: $alternativeColor;
        border: none;
        cursor: pointer;

        .magnifyingGlassIcon {
          width: 100%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;

          g {
            stroke: $textColor;

            path {
              fill: $textColor;
            }
          }
        }

        :hover {
          g {
            stroke: #c6c5c5;

            path {
              fill: #c6c5c5;
            }
          }
        }
      }
    }
  }
}