@import "../../global.scss";

.weatherForecastForADay {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .hoursOfDay {
    background-color: $backgroundColor;

    h1 {
      color: $textColor;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }

  .forecastPlot {
    background-color: red;
  }
}