@import "../../global.scss";

.weatherForecastForADay {
  .contentContainer {
    width: 100%;
    height: 91%;
    min-height: 45.6em;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .dayDisplay {
      width: 100%;
      height: 2.6em;
      background-color: orangered;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      h1 {
        font-size: 1.8em;
        font-weight: 100;
        color: $textColor;
        background-color: $backgroundColor;
        padding-left: 10px;
      }
    }

    .forecast {
      width: 100%;
      height: 85%;
      min-height: 43em;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;

      .hoursOfDay {
        flex: 1;
        height: 100%;
        background-color: #0e8c8c;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          height: 100%;
          background-color: $backgroundColor;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          align-content: space-evenly;
          padding: 10px 0;
        }
      }

      .forecastPlot {
        flex: 2;
        height: 100%;
        background-color: red;
      }
    }
  }
}