@import "../../global.scss";

.weatherForecastForADay {
  .contentContainer {
    width: 100%;
    height: 91%;
    min-height: 45.6em;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .dayDisplay {
      width: 100%;
      height: 2.6em;
      background-color: orangered;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      h1 {
        font-size: 1.8em;
        font-weight: 100;
        color: $textColor;
        background-color: $backgroundColor;
        padding-left: 10px;
      }
    }

    .forecast {
      width: 100%;
      height: 85%;
      min-height: 43em;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;

      .hoursOfDay {
        flex: 1;
        height: 100%;
        background-color: #0e8c8c;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          height: 100%;
          background-color: $backgroundColor;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          align-content: space-evenly;
          padding: 10px 0;
        }
      }

      .forecastPlot {
        flex: 2;
        width: 100%;
        height: 100%;
        background-color: darkgrey;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
          font-size: 50px;
          cursor: pointer;
          position: absolute;

          &.left {
            left: 0px;
          }

          &.right {
            right: 0px;
          }
        }

        .plotContainer {
          width: 100%;
          height: 100%;
          display: flex;
          position: absolute;
          margin-left: 10px;

          * {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 1s ease-out;
            transform-origin: 0 50%;
          }
        }
      }
    }
  }
}