@import "./global.scss";

.appBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;

  @include for-desktop {
    min-height: 100% !important;
  }

  .appContentContainer {
    width: 100%;
    height: calc(100% - 20px);
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, var(--background-color-bottom) 0%, var(--background-color-top) 100%);
    z-index: 3;
    display: flex;
    justify-content: center;

    transition: all 1s ease-in-out;
    transform: translateY(0);
    border-radius: 0 0 0 0;
    box-shadow: none;
    will-change: transform, border-radius, box-shadow;

    &.showCookieBanner {
      transform: translateY(-200px);
      border-radius: 0 0 20px 20px;
      box-shadow: 2px 2px 3px 1px #7b7b7b;

      animation: 1000ms ease-in-out slide-in-cookie-banner 1500ms;
      animation-fill-mode: backwards;
      animation-iteration-count: 1;

      @keyframes slide-in-cookie-banner {
        0% {
          transform: translateY(0);
          border-radius: 0 0 20px 20px;
          box-shadow: 2px 2px 3px 1px #7b7b7b;
        }

        100% {
          transform: translateY(-200px);
          border-radius: 0 0 20px 20px;
          box-shadow: 2px 2px 3px 1px #7b7b7b;
        }
      }
    }

    .appContent {
      width: 100%;
      max-width: 1200px;
      height: 100%;
      position: absolute;
      top: 0;
      overflow: hidden;
      text-align: center;
    }
  }
}
