@import "./global.scss";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $backgroundColor;

  .noData {
    width: 100%;
    height: calc(100vh - #{$searchBarHeight});
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      color: $textColor;
    }
  }


  .sections {
    width: 100%;
    height: calc(100vh - #{$searchBarHeight});
    z-index: 2;
    background-color: white;
    position: relative;
    scroll-behavior: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - #{$searchBarHeight});
      scroll-snap-align: start;
    }
  }
}
