:root {
  --background-color: #23232b;
  --text-color: #efefef;
  --text-color-darker: #a2a2a2;
  --text-color-darkest: #6c6c6c;
  --alternative-color: #598234;
  --highlight-color: #b2c61a;
}

$searchBarHeight: 40px;

@mixin for-mobile {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}