:root {
  --background-color-top: #23232b;
  --background-color-bottom: #0f0f13;
  --text-color: #efefef;
  --text-color-darker: #a2a2a2;
  --text-color-darkest: #6c6c6c;
  --plot-color: #efefef;
  --search-bar-color-top: #598234;
  --search-bar-color-bottom: #4a6c2b;
  --current-hour-color: #b2c61a;
}

@mixin for-mobile {
  @media (max-width: 649px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 650px) and (max-width: 899px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 900px) {
    @content;
  }
}