$backgroundColor: #505160;
$textColor: #efefef; // #68829e;
$alternativeColor: #598234;
$highlightColor: #aebd38;

$searchBarHeight: 40px;

@mixin for-mobile {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}